.table__header {
    width: 100%;
    height: auto;
    background-color: var(--color-header);
    padding: 15px 0;
    padding-right: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.button-titulo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-titulo {
    margin-left: 1.3rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--title-color);
    font-weight: 850;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-titulo:hover .form-logo-glow {
    transform: translateX(100%);
}

/* boton del titulo */
.button-add {
    border: none;
    display: flex;
    padding: 0.75rem 0.5rem;
    background-color: var(--first-color);
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.4rem;
    user-select: none;
    box-shadow:
        0 4px 6px -1px hsla(0, 0%, 0%, 0.15),
        0 2px 4px -1px hsla(0, 0%, 0%, 0.15);
    transition: all 0.6s ease;
    height: 33px;
}

.button-add:hover {
    background-color: var(--first-color-dark);
    color: white;
    box-shadow:
        0 4px 6px -1px hsla(0, 0%, 0%, 0.15),
        0 2px 4px -1px hsla(0, 0%, 0%, 0.15);
}

.button-add:focus,
.button-add:active {
    opacity: 0.85;
    box-shadow: none;
}

/* BARRA DE BUSQUEDA */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;
}

.group .input {
    width: 100%;
    height: 30px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.2px #5353556e, 0 0 25px -17px #000;
    border: 0;
    border-radius: 6px;
    background-color: white;
    outline: none;
    color: #000000;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.group .input::placeholder {
    color: #bdbecb;
}

.group .input:hover {
    box-shadow: 0 0 0 1.2px var(--first-color), 0px 0px 25px -15px #000;
}

.group .input:active {
    transform: scale(0.98);
}

.group .input:focus {
    box-shadow: 0 0 0 1.2px var(--first-color);
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #000000;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 500px) {
    .table__header {
        display: block;
    }

    .button-titulo {
        justify-content: space-between;
    }

    .group {
        margin-left: 1.3rem;
        padding-right: 1.3rem;
        padding-top: 10px;
    }
}