/* MODAL */
.archivos {
  align-items: center;
}

.custum-file-upload {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

/* CARD */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  padding-top: 0.6rem;
  width: 100%;
  height: 50%;
  height: auto;
}

.card {
  margin-left: 6px;
  width: calc(50% - 1rem);
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; */
}

.card:hover {
  border-color: #007bff;
}

.card-img {
  width: 5%;
  min-width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.card-img img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.card-text {
  width: 85%;
  max-width: 85%;
  padding: 2px;
  font-size: 12px;
  color: #333;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding-left: 10px;
}

.card-text p:first-of-type {
  width: 90px;
}

.card-text p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  width: 33%;
  max-width: 33%;
  margin: 0;
  cursor: pointer;
  /*     flex: 1; */
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.card-title:hover {
  background-color: rgba(173, 167, 167, 0.582);
  border-radius: 4px;
}

.card-icon {
  margin-right: 5px;
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.card-icon svg {
  padding: 3px;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  color: #000000;
  transition: background-color 0.3s ease;
  /* Suaviza la transición del color de fondo */
}

.card-icon svg:hover {
  background-color: rgba(173, 167, 167, 0.582);
}

/* no-files-message */
.no-files-message {
  color: #777;
  font-size: 1rem;
  text-align: center;
  margin: 0 0.4rem;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #777;
  border-radius: .3rem;
  width: 100%;
}

.table__body__card {
  /* Borde gris muy claro y sutil */
  width: 100%;
  height: 100%;
  max-height: calc(100% - 100px);
  background-color: transparent;
  margin: 0 auto;
  overflow: auto;
  overflow: overlay;
  padding-top: 1.5%;
  /* Agregar sombra sutil para hacer el borde más notorio */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.39); */
}

/* sub datos */
.table__sub_header {
  width: 100%;
  height: auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.table__sub_header h3 {
  margin: 0;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.table__sub_header .label {
  margin-right: 0.5rem;

  font-size: 1.2rem;
  color: #555;
  font-weight: 700;
  text-transform: capitalize;
}

.table__sub_header .data {
  font-size: 1.2rem;
  color: #777;
  font-weight: 400;
}

/* sub-titulo */
.sub-titulo {
  font-size: 15px;
  color: var(--title-color);
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.sub-titulo .filtro-subtitulo {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #000000;

  letter-spacing: 0.5px;
}

.sub-titulo .filtros-aplicados {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.sub-titulo .filtros-aplicados span {
  background-color: hsl(228, 86%, 60%);
  color: white;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* FILTROS DE BUSQUEDA */
.filtros {
  display: grid;
  grid-template-columns: 0.8fr 1fr 160px 160px 125px;
  column-gap: 15px;
  padding-left: 1.5rem;
  padding-right: 1.3rem;
  padding-bottom: 1rem;
  background-color: var(--body-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.filtros>* {
  min-width: 0;
}

.titulo-filtro {
  grid-column: 1 / -1;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #333;
  letter-spacing: 0.5px;
}

.filtro-empleado,
.filtro-sucursal,
.fecha-desde,
.fecha-hasta,
.contenedor-btn-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 0.5px;
}

label {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.form-select,
input[type="datetime-local"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
  width: 100%;
}

input[type="datetime-local"] {
  width: 100%;
}

.form-select:hover,
input[type="datetime-local"]:hover {
  border-color: #007bff;
}

.form-select:focus,
input[type="datetime-local"]:focus {
  border-color: #113a66;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* SELECT2 */
.select2-container {
  width: auto !important;
}

.select2-container .select2-selection {
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.select2-container .select2-selection:hover {
  border-color: #007bff;
}

.select2-container .select2-selection:focus,
.select2-container--focus .select2-selection {
  border-color: #113a66;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.select2-container .select2-selection__arrow {
  height: 100%;
  top: 0;
  right: 10px;
}

.select2-container .select2-results__option {
  padding: 6px 10px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.select2-container .select2-results__option--highlighted {
  background-color: #007bff;
  color: #fff;
}

.select2-container .select2-search {
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.select2-container .select2-search input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.select2-container .select2-search input:hover {
  border-color: #0a76eb;
}

.select2-container .select2-search input:focus {
  border-color: #113a66;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.bloqueado .select2-container .select2-selection:hover {
  border-color: #ccc;
  cursor: not-allowed;
}

.bloqueado .select2-container .select2-selection:focus {
  border-color: #ccc;
  box-shadow: none;
}

/* Botón */
.contenedor-btn-filter {
  margin-top: 22%;
/*   margin-left: 3%; */
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.filter-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--first-color);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.filter-btn:hover {
  background-color: var(--first-color-dark);
}

.limpiar-btn svg {
  color: white;
}

.limpiar-btn:hover {
  background-color: var(--first-color-dark);
}

.limpiar-btn {
  width: 40px;
  height: 40px;

  background-color: var(--first-color);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.descargar-btn {
  width: 40px;
  height: 40px;

  background-color: var(--first-color);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.descargar-btn svg {
  color: white;
  width: 20px;
  height: 20px;
}

.descargar-btn:hover {
  background-color: var(--first-color-dark);
}

.bar {
  width: 50%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}

.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px white;
}

.bar1::before {
  transform: translateX(-4px);
}

.bar2::before {
  transform: translateX(4px);
}

.filter-btn:hover .bar1::before {
  transform: translateX(4px);
}

.filter-btn:hover .bar2::before {
  transform: translateX(-4px);
}

/* @media (max-width: 1024px) {
  .filtros {
    grid-template-columns: 1fr 1fr 120px 120px 150px; 
  }
  .button-filter {
    grid-column: 5; 
  }
} */

@media (max-width: 768px) {
  .filtros {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contenedor-btn-filter {
    grid-column: 2;
    margin-left: 0;
    margin-top: 28px;
  }
}

@media (max-width: 480px) {
  .filtros {
    grid-template-columns: 1fr;
  }

  .contenedor-btn-filter {
    grid-column: 1;
    margin-top: 5px;
  }
}

/* IMAGEN MODAL - MODAL DETALLES */
.previewContainer {
  width: 100%;
  max-width: 300px;
  height: 450px;
  max-height: 450px;
  border: 1px solid #ddd;
  /* border-radius: 0.5rem; */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 15px;
}

.previewContainer iframe,
.previewContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.previewContainer iframe embed {
  width: 50%;
  height: 50%;
}

/* DETALLES */
.details {
  flex: 1;
  overflow: hidden;
}

.tabla-detalles-archivo th {
  color: var(--color-texto-header);
  font-weight: bold;
  text-align: left;
  padding: 0.75rem;
}

.tabla-detalles-archivo td {
  text-align: left;
  padding: 0.75rem;
  vertical-align: middle;
  background-color: #f9f9f9;
}

.tabla-detalles-archivo th,
.tabla-detalles-archivo td {
  border: 1px solid #ddd;
}

/* BOTÓN DE CIERRE */
.modal-header .btn-close {
  background-color: #f8f9fa;
  border-radius: .4rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.modal-header .btn-close:hover {
  background-color: #e2e6ea;
  transform: scale(1.1);
}

/* MODAL GENERAL */
.modal-content {
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px;
}

.modal-header {
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 800;
}

/* .modal-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
} */

/* LOADER */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--first-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* CANTIDAD DE ARCHIVOS*/
#cantidad-archivos {
  background-color: hsl(228, 86%, 60%);
  color: white;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#empleado-archivos {
  background-color: hsl(228, 86%, 60%);
  color: white;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.table__body__card::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.table__body__card::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: gray;
  visibility: hidden;
}

.table__body__card:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}