.contenido {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: var(--z-fixed); */
    margin-top: 80px;
    margin-bottom: .75rem;
    margin-right: .75rem;
    background-color: #f9f9f9;
    border-radius: .6rem;
    box-shadow: 2px 0 24px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

:root {
    --color-header: hsl(0, 0%, 94%);
    --color-texto-header: hsl(228, 86%, 25%);
    --color-hover-header: hsl(228, 76%, 55%);
    --color-fondo: hsl(0, 0%, 100%);
    --color-table-body: hsl(0, 0%, 100%);
    --color-scrollbar: hsl(228, 36%, 44%);
    /*  --color-second-child: hsla(223, 16%, 91%, 0.925); */
    --color-texto-hover: hsl(228, 76%, 55%);
    --color-inactivo: hsl(0, 64%, 58%);
    --color-activo: hsl(142, 60%, 58%);
}

/* TABLA */
.cuerpo-tabla {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    overflow: fixed;
}

.tabla-vacia {
    text-align: center;
    color: #777;
    font-size: 16px;
}

.table__body {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 177px);
    background-color: var(--body-color);
    margin: 0 auto;
    overflow: auto;
    overflow: overlay;
    margin-top: 0.5%;
    padding-left: .8rem;
/*  border: 1px solid red; */
    /* Agregar sombra sutil para hacer el borde más notorio */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.39); */
}

.table__body::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: gray;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;

    font-size: .95rem;
}

thead th {
    white-space: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-header);
    cursor: pointer;
    color: var(--color-texto-header);
    text-transform: capitalize;
    padding: 12px 12px;
    z-index: 2;
}

thead th:hover {
    color: var(--color-hover-header);
}

/* tbody tr:nth-child(even) {
    background-color: var(--color-second-child);
} */

tbody tr:hover {
    color: var(--color-texto-hover) !important;
}

/* tbody tr td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

tbody td {
    padding: 12px 12px;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

/* Estado de usuario */
.estado-usuario {
    font-size: .9rem;
    max-width: 70px;
    width: 70px;
    display: inline-block;
    padding: 1px 3px;
    border-radius: .2rem;
    font-weight: bold;
    text-align: center;
}

.estado-activo {
    background-color: var(--color-activo);
    color: white;
}

.estado-inactivo {
    background-color: var(--color-inactivo);
    color: white;
}

.estado-admin {
    background-color: var(--first-color);
    color: white;
}

/* BUTTON */
.acciones {
    display: flex;
    width: 70px;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    z-index: 1;
}

.texto-emergente:hover .svgIcon-spin {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.texto-emergente {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    padding: 0;
    border: 0px solid transparent;
    border-radius: .4rem;
    transition: all 0.2s linear;
    position: relative;
}

.btn-editar {
    background-color: rgb(210, 180, 30); 
    color: #fff;
}

.btn-editar:hover {
    background-color: rgb(180, 150, 20); 
}

.btn-deshabilitar {
    background-color: var(--rojo-boton);
    color: #fff;
}

.btn-deshabilitar:hover {
    background-color: var(--rojo-hover);
}

.btn-habilitar {
    background-color: var(--verde-boton);
    color: #fff;
}

.btn-habilitar:hover {
    background-color: var(--verde-hover);
}

.texto-emergente .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, 0.651);
    color: #fff;
    text-align: center;
    border-radius: .4rem;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 3;
}

.texto-emergente .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.651) transparent transparent transparent;
}

.texto-emergente:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}