@import 'Modules/sidebar.css';
@import 'Modules/header.css';

@import 'Pages/login.css';
@import 'Pages/user.css';
@import 'Pages/titulo.css';
@import 'Pages/evidencias.css';

/*Fonts*/
@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(228, 86%, 60%);
    --first-color-dark: hsl(228, 59%, 48%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 94%);
    --shadow-color: hsla(0, 0%, 0%, 0.15);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Nunito Sans", system-ui;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-strong-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1000px) {
    :root {
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}